{%- from "templates/includes/cart/macros_cart_blocks.html" import put_custom_cart_blocks -%}

{{- put_custom_cart_blocks(custom_cart_blocks, "First") -}}

{%- if route == "cart" -%}
<div class="coupon-code">
	{%- include "templates/includes/cart/cart_coupon_code.html" -%}
</div>
{%- endif -%}

{%- if route == "checkout" -%}
<div class="shipping-summary">
	{%- include "templates/includes/cart/shipping_summary.html" -%}
</div>
{%- endif -%}

{{ put_custom_cart_blocks(custom_cart_blocks, "Before Summary") }}

<div class="frappe-card mb-3 p-5">
	<div class="payment-summary">
		{%- include "templates/includes/cart/cart_payment_summary.html" -%}
	</div>

	<div class="place-order">
		{% include "templates/includes/cart/place_order.html" %}
	</div>
</div>

{{ put_custom_cart_blocks(custom_cart_blocks, "Last") }}
