<!-- Total at the end of the cart items -->
<tr>
	<th class="text-nowrap text-right item-grand-total" colspan="5">
		{{ _("Total") }}<br>
		<span class="totals">{{ doc.get_formatted("total") }}</span>
	</th>
</tr>