{% from "webshop/templates/includes/cart/cart_macros.html" import show_address %}

{% if addresses | length == 1%}
	{% set select_address = True %}
{% endif %}

<div class="mb-3 p-5" data-section="shipping-address">
	<div class="d-flex">
		<div class="col-6 address-header"><h6>{{ _("Shipping Address") }}</h6></div>
		<div class="col-6" style="padding: 0;">
			<button class="btn btn-link btn-new-address btn-xs ml-4 {{ 'btn-primary' if not shipping_addresses else '' }}">
				{{ _("Add a new address") }}
			</button>
		</div>
	</div>

	<hr>

	{% if doc.shipping_address_name %}

		{% for address in shipping_addresses %}
		{% if doc.shipping_address_name == address.name %}
		<div class="row no-gutters" data-fieldname="shipping_address_name">
			<div class="w-100 address-container" data-address-name="{{address.name}}" data-address-type="shipping" data-active>
				{% include "templates/includes/cart/address_card.html" %}
			</div>
		</div>
		{% endif %}
		{% endfor %}

	{% elif shipping_addresses %}

		<div class="w-100 address-container" data-address-type="shipping">
			<button class="btn btn-primary-light btn-change-address">
				{{ _('Select', context="Shopping cart address") }}
			</button>
		</div>

	{% endif %}
</div>

{% set shipping_same_as_billing = doc.shipping_address_name == doc.customer_address or not billing_addresses %}

<!-- Billing Address -->
<div class="checkbox ml-1 mb-2">
	<label for="input_same_billing">
		<input type="checkbox" class="product-filter" id="input_same_billing"
			{%- if shipping_same_as_billing %} checked {% endif -%}
		>
		<span class="label-area font-md">{{ _('Billing Address is same as Shipping Address') }}</span>
	</label>
</div>

{% if billing_addresses %}
	<div class="mb-3 p-5" data-section="billing-address" {% if shipping_same_as_billing %} style="display: none;" {% endif %}>
		<div class="d-flex">
			<div class="col-6 address-header"><h6>{{ _("Billing Address") }}</h6></div>
			<div class="col-6" style="padding: 0;">
				<button class="btn btn-link btn-new-address btn-xs ml-4" {{ 'btn-primary' if not billing_addresses else '' }}>
					{{ _("Add a new address") }}
				</button>
			</div>
		</div>

		<hr>
		{% if doc.customer_address %}

			{% for address in billing_addresses %}
				{% if doc.customer_address == address.name %}
				<div class="row no-gutters" data-fieldname="customer_address">
					<div class="w-100 address-container" data-address-name="{{address.name}}" data-address-type="billing" data-active>
						{% include "templates/includes/cart/address_card.html" %}
					</div>
				</div>
				{% endif %}
			{% endfor %}

		{% elif shipping_addresses %}

			<div class="w-100 address-container" data-address-type="billing">
				<button class="btn btn-primary-light btn-change-address">
					{{ _('Select', context="Shopping cart address") }}
				</button>
			</div>

		{% endif %}
	</div>
{% endif %}

{% if boot %}
<script>
frappe.ready(() => {
	// Executed once on page load

	$(document.body).on('click', '.modal-dialog .address-card', (e) => {
		const $target = $(e.currentTarget);
		const $section = $target.closest('[data-section]');
		$section.find('.address-card').removeClass('active');
		$target.addClass('active');
		$('.btn-modal-primary').removeClass('disabled')
		$('.btn-modal-primary').removeAttr('disabled')
	});

	$(document.body).on('change', '.cart-container #input_same_billing', (e) => {
		toggle_billing_address_section(!e.currentTarget.checked);
	});

	$(document.body).on('click', '.cart-container .btn-new-address', () => {
		let addressType = $(event.target).closest("[data-section]").attr("data-section")?.replace("-address", "");
		if (addressType) {
			addressType = addressType == "shipping" ? "Shipping" : "Billing";
		} else {
			addressType = null;
		}

		shopping_cart.new_cart_address(true, addressType).catch(() => {})
	});

	function toggle_billing_address_section(is_shipping_different_billing) {
		$('[data-section="billing-address"]').toggle(is_shipping_different_billing);

		if (!is_shipping_different_billing) {
			const current_shipping_address = $(`[data-fieldname="shipping_address_name"] [data-address-type="shipping"]`).attr("data-address-name");
			const current_billing_address = $(`[data-fieldname="customer_address"] [data-address-type="billing"]`).attr("data-address-name");

			if (current_shipping_address && current_shipping_address == current_billing_address) {
				return;
			}
			shopping_cart.update_cart_address("billing", current_shipping_address)
		}
	}
});
</script>
{% endif %}
